;;;     Copyright (C) Simon Brooke, 2023

;;;     This program is free software; you can redistribute it and/or
;;;     modify it under the terms of the GNU General Public License
;;;     as published by the Free Software Foundation; either version 2
;;;     of the License, or (at your option) any later version.

;;;     This program is distributed in the hope that it will be useful,
;;;     but WITHOUT ANY WARRANTY; without even the implied warranty of
;;;     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;;;     GNU General Public License for more details.

;;;     You should have received a copy of the GNU General Public License
;;;     along with this program; if not, write to the Free Software
;;;     Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

;; Actual fault messages to which fault codes resolve: English language version.
{:by "by"
 :cli-expected-format "Expected one of `csv`, `edn`, `json`, `html`."
 :cli-expected-language "Expected a valid ISO 639-1 code, e.g. `en-GB`."
 :cli-expected-one "Expected one of"
 :cli-help-format "The format to output, one of `csv`, `edn`, `json`, `html`."
 :cli-help-help "Print this message and exit."
 :cli-help-input "The file or URL to validate."
 :cli-help-language "The ISO 639-1 code for the language to output."
 :cli-help-output "The file to write to."
 :cli-help-reify "If set, reify objects referenced by URIs and check them."
 :cli-help-severity "The minimum severity of faults to report."
 :expected-collection "A collection was expected, but was not found."
 :faults-found "faults were found"
 :generated-on "Generated on"
 :id-not-https "Publicly facing content SHOULD use HTTPS URIs"
 :id-not-uri "identifiers must be publicly dereferencable URIs"
 :invalid-actor "The value of the `actor` property of an activity MUST be an instance of an Actor type"
 :invalid-attachment "The value of the `attachment` property MUST be an instance of Object or of Link."
 :invalid-attribution "The value of the `attributedTo` property MUST be an instance of Object or of Link, or a sequence or collection of such."
 :invalid-audience "The value of the `audience`, `cc` and `bcc` properties MUST be instances of Object or of Link, or sequences or collections of such."
 :invalid-closed "The value of the `closed` property MUST be one of: 1. an Object; 2. an xsd:dateTime; 3. a boolean."
 :invalid-content "The value of the `content` property MUST be a string, optionally with embedded markup."
 :invalid-context "The value of the `context` property (NOTE: different from `@context` MUST be an instance of Object or of Link, or a sequence or collection of such.)"
 :invalid-date-time "The value of a property expected to be an instance of xsd:dateTime could not be parsed."
 :invalid-deleted "The value of the `deleted` property of a Tombstone object MUST be an xsd:dateTime."
 :invalid-describes "The value of the `describes` property MUST be an instance of Object."
 :invalid-direct-object "The value of the `object` property of an Activity or Relationship MUST be an instance of Object or Link, or a sequence or collection of such."
 :invalid-former-type "The value of the `formerType` property of a Tombstone object must be a string, naming a known Object type."
 :invalid-duration "The value of the `duration` property MUST be an instance of xsd:duration."
 :invalid-generator "The value of the `generator` property MUST be an instance of Object or of Link, or a sequence or collection of such."
 :invalid-href "The value of the `href` property must be an instance of xsd:anyURI."
 :invalid-image "The value of an `image` property MUST be an instance of the Image type."
 :invalid-origin "The value of the `origin` property MUST be an Object."
 :invalid-part-of "The value of the `partOf` property of a CollectionPage MUST be an instance of a Collection or an OrderedCollection."
 :invalid-prior-page "The value of the `prev` property of a CollectionPage MUST be an instance of a Collection or an OrderedCollection."
 :missing-part-of "The `partOf` field of a CollectionPage was missing. It identifies the Collection to which a CollectionPage object's items belong."
 :no-context "Section 3 of the ActivityPub specification states Implementers SHOULD include the ActivityPub context in their object definitions`."
 :no-faults-found "No faults were found."
 :no-id-persistent "Persistent objects MUST have unique global identifiers."
 :no-id-transient "The ActivityPub specification allows objects without `id` fields only if they are intentionally transient; even so it is preferred that the object should have an explicit null id."
 :no-inbox "Actor objects MUST have an `inbox` property, whose value MUST be a reference to an ordered collection."
 :no-items-collection "A collection expected to be simple had no items."
 :no-outbox "Actor objects MUST have an `outbox` property, whose value MUST be a reference to an ordered collection."
 :no-type "The ActivityPub specification states that the `type` field is optional, but it is hard to process objects with no known type."
 :not-actor-type "The `type` value of the object was not a recognised actor type."
 :not-valid-date-time "A date/time of format required for `xsd:dateTime` was expected but was not found."
 :null-id-persistent "Persistent objects MUST have non-null identifiers."
 :not-an-object "ActivityStreams object must be JSON objects."
 :text-analysed "Text analysed"
 :the-following "The following"
 :validation-report-for "Validation report for"}